@font-face {
  font-family: PTSansRegular;
  src: url(../public/Fontas/NotoSansDisplay.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: PTSansRegular;
}

.ck-editor__editable {
  min-height: 400px;
}

/* Commen CSS */

p {
  margin: 0%;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 1px rgba(13, 110, 253, .25);
}

.form-select:focus {
  border-color: #a1a7ab;
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgb(227 229 231);
}

.form-check-input:focus {
  border-color: #a1a7ab;
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgba(227 229 231);
}

.required-lable {
  color: red;
}

.not-found-data {
  height: 50px;
  line-height: 50px;
  font-size: 22px;
}

label {
  margin-bottom: 5px;
}

.table-img {
  width: 100px;
  height: 100px;
}

.data-loader {
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  font-weight: 700;
  color: darkgrey;
  text-align: center;
}

.ck-focused {
  border-color: #a1a7ab !important;
}

.ck.ck-button:focus {
  border-color: #a1a7ab;
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgba(227 229 231);
}

.ck.ck-button.ck-disabled:focus {
  box-shadow: 0 0 0 0.05rem rgba(227 229 231);
}

.ck.ck-button.ck-on,
a.ck.ck-button.ck-on {
  color: #343a40;
}   

.ck.ck-button.ck-on,
a.ck.ck-button.ck-on {
  background: #343a4026;
}

.ck.ck-button.ck-on:not(.ck-disabled):hover,
a.ck.ck-button.ck-on:not(.ck-disabled):hover {
  background: #343a403a;
}

/* ----------------------------------- */

/* Authentication signin && signup CSS */

.authentication {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, rgba(115, 156, 255, 1) 0%, rgba(211, 107, 255, 1) 50%, rgba(230, 114, 118, 1) 100%);
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
}

.authentication a {
  color: #293B5F !important;
  text-decoration: none;
}

.authentication a:hover {
  text-decoration: underline;
}

.auth-box {
  width: 850px;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.right-box {
  width: 50%;
  background-color: #81b0ff;
}

.right-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.left-box {
  width: 50%;
  background-image: linear-gradient(150deg, #fbc8d4 0%, #9795f0 100%);
  padding: 20px;
}

/* -------------------------------- */

/* ------ PageNotFound ---------- */

.section {
  padding: 4rem 2rem;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: #6fe5c1;
}

.section a {
  text-decoration: none;
}

.section .error {
  font-size: 150px;
  color: #008B62;
  text-shadow:
    1px 1px 1px #00593E,
    2px 2px 1px #00593E,
    3px 3px 1px #00593E,
    4px 4px 1px #00593E,
    5px 5px 1px #00593E,
    6px 6px 1px #00593E,
    7px 7px 1px #00593E,
    8px 8px 1px #00593E,
    25px 25px 8px rgba(0, 0, 0, 0.2);
}

.page {
  margin: 2rem 0;
  font-size: 20px;
  font-weight: 600;
  color: #444;
}

.back-home {
  display: inline-block;
  border: 2px solid #00593e;
  color: #00593e;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.75rem 1rem 0.6rem;
  transition: all 0.2s linear;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.back-home:hover {
  background: #008b62;
  color: #ddd;
}

/* -------------------------------- */

/* --- Siderbar section CSS --- */

.sidebar {
  width: 265px;
  height: 100%;
  background-color: #343a40;
  position: fixed;
  top: 0;
}

.sidemenus {
  padding: 0 8px;
}

.brand-link {
  font-size: 22px;
  line-height: 50px;
  border-bottom: 1px solid #b5b5b5;
  padding: 0px 0px 8px;
  font-weight: lighter;
}

.brand-link a {
  text-decoration: none;
  color: beige;
  margin-left: 30px;
}

.user-panal {
  display: flex;
  align-items: center;
  padding: 11px 8px;
}

.user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin-left: 11px;
  border: 1px solid #b5b5b5;
  overflow: hidden;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info {
  padding-left: 21px;
  font-size: 18px;
}

.user-info a {
  text-decoration: none;
  color: #b5b5b5;
  transition: .2s;
}

.user-info a:hover {
  color: #f5f5dc;
}

.sidebar .sidemenu {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #b5b5b5;
}

.sidemenu .menuitem {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0px;
  border-radius: 7px;
  text-decoration: none;
}

.sidemenu .menuitem.active {
  background-color: #464646;
}

.sidemenu .menuitem:hover {
  background-color: #ffffff1a;
}

.menuitem .menu-icon {
  flex: 10%;
  text-align: center;
}

.menuitem .menu-title {
  flex: 70%;
  color: #b5b5b5;
  font-size: 17px;
  text-transform: capitalize;
}

/* --------------------------- */

/* ---- Header section CSS --- */

.main-header {
  height: 59px;
  background-color: #f7f7f7;
  margin-left: 265px;
  border-bottom: 1px solid #b5b5b5;
  position: sticky;
  width: calc(100% - 265px);
  top: 0;
  z-index: 999;
}

.nav-bar {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 7px 0;
}

.nav-bar .nav-item {
  padding: 10px;
}

.main-header .nav-bar .nav-item a {
  color: #8f8f8f;
}

.main-header .nav-bar .nav-item a:hover {
  color: #464646;
}

/* ---------------------------------- */

/* ------- Wrapper section CSS ------- */

.content-wrapper {
  margin-left: 265px;
}

.content-wrapper .form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #6c757d8f;
  outline: 0;
  box-shadow: 0 0 0 1px rgb(108 117 125 / 19%);
}

.content-header {
  padding: 20px 6px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.content {
  padding: 0px 6px;
}

.content-header h1 {
  font-size: 30px;
}

.content-header a {
  color: #fff;
  text-decoration: none;
}

.content .content-box {
  padding: 10px;
  border-radius: 7px;
  position: relative;
}

.content-box h1 {
  margin: 0;
}

.content-box .box-icon {
  position: absolute;
  right: 15px;
  top: 12px;
}

.box-info {
  font-weight: 600;
  font-size: 18px;
}

.content-box-btn {
  display: block;
  text-align: center;
  background: rgba(0, 0, 0, 0.151);
  border-radius: 5px;
  text-decoration: none;
  color: currentColor;
  padding: 3px;
  margin-top: 10px;
}

.content-box.bg-success {
  color: #f7f7f7 !important;
}

.content-box.bg-danger {
  color: #f7f7f7 !important;
}

/* ----------------------------- */

/* ---- Content Table CSS ---- */

.footer-pagination {
  margin: 12px 0px;
}

.paginations .pages-item {
  padding: 8px 15px;
  background: #929292;
  border: 1px solid #929292;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.paginations .pages-item.active {
  background-color: #5e5e5e;
}

.paginations .pages-item:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.paginations .pages-item:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.my-product .pro-img {
  width: 140px;
  height: 140px;
}

.my-product .pro-img img {
  width: 100%;
  object-fit: fill;
  height: 100%;
}

.action-col {
  width: 185px;
}

/* ----------------------------- */

/* ---- Content View CSS ---- */

.product-info-left {
  padding: 10px;
}

.product-info-img {
  width: 100%;
  height: 360px;
}

.product-info-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info-table .table-description {
  width: 960px;
}

.product-info-table td {
  line-height: 30px;
}

/* -------------------------- */

/* ---- Content Form CSS ---- */

.form-footer {
  width: 100%;
  margin-top: 15px;
  text-align: end;
}

.product-images {
  width: 200px;
  height: 200px;
  border: 1px solid;
  border-radius: 15%;
  margin-bottom: 20px;
  position: relative;
  margin: auto;
  margin-bottom: 27px;
}

#product-img {
  display: none;
}

.product-images {
  width: 200px;
  height: 200px;
  border: 2px solid;
  border-radius: 15%;
  margin-bottom: 20px;
  position: relative;
  margin: auto;
  margin-bottom: 27px;
  overflow: hidden;
}

.product-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon {
  position: absolute;
  top: 22%;
  right: 21%;
}

.product-img-icon {
  position: absolute;
  right: 5%;
  bottom: 11px;
  width: 40px;
  height: 40px;
  background: #4d5154;
  border-radius: 50%;
  opacity: 0;
  transition: .3s;
}

.product-images:hover .product-img-icon {
  opacity: 1;
}

/* --------------------------- */

/* --- Footer section CSS --- */

.main-footer {
  margin-left: 265px;
  height: 55px;
  line-height: 55px;
  background-color: #f7f7f7;
  border-top: 1px solid;
  text-align: center;
  color: #8f8f8f;
  bottom: 0;
  position: sticky;
  width: calc(100% - 265px);
  z-index: 999;
}

.main-footer strong {
  font-size: 18px;
  color: #898989;
}

/* ------------------------- */